{%extends "candidate/base.html"%}
{%load static %}
{%block body_block%}



<div class="row">
    <div class="col-3"></div>
    <div class="col-8">
        <h3>        welcome {{request.user}}
</h3>
    </div>
    <div class="col-3"></div>
    <div class="col-3"></div>
</div>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        {%if messages%}

        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        {{message}}


        {%endif%}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                {{message]}

        {%endif%}


        {%endfor%}

        {%endif%}
    </div>

{%endblock%}