{%extends 'base.html'%}


{%block body_block%}
<div class="row">
  <div class="col-3"></div>
  <div class="col-8">
    <div class="card" style="width: 18rem;">
  <img src="{{application.applicant.candidate.profile_pic.url}}" class="card-img-top" alt="no logo found">
  <div class="card-body">
    <h5 class="card-title">{{application.applicant.username}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{application.applicant.candidate.qualification}}</li>
    <li class="list-group-item">{{application.applicant.candidate.skills}}</li>
        <a href="{application.applicant.candidate.resume}" class="card-link"></a>

  </ul>
  <div class="card-body">
    <a href="" class="card-link">ACCEPT</a>
    <a href="#" class="card-link">REJECT</a>
  </div>
</div>

  </div>
  <div class="col-3"></div>
</div>
{%endblock%}